<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <div class="header item borderless">
      <h1 class="ui header">{{ title }}</h1>
    </div>
    <div class="ui secondary menu">
      <a href class="item active">Articles</a>
      <div class="right menu">
        <a href class="ui item">Logout</a>
        <a href class="ui item">Login</a>
        <a href class="ui item">register</a>
      </div>
    </div>
  </div>
</div>
<div class="ui main text container">
  <app-articles></app-articles>
</div>
